<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<div class="topnav">
<a class="active" href="#home">Home</a>
<a href="#gallery">News</a>
<a href="#about">About</a>
<a href="#contact">Contact</a>
</div>



<body>

  <br>
  <br>
  <h2>Pusheen's Travel Blog</h2>
  <br>
  <br>
  <br>
  <!-- The grid: four columns -->
  <div class="row">
    <div class="column">
      <img src="/static/images/nature1.jpg" alt="Nature" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="/static/images/nature2.jpg" alt="Snow" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="/static/images/nature3.jpg" alt="Mountains" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="/static/images/nature4.jpg" alt="Lights" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="/static/images/nature5.jpg" alt="Lights" onclick="myFunction(this);">
    </div>
    <div class="column">
      <img src="/static/images/nature6.jpg" alt="Lights" onclick="myFunction(this);">
    </div>
  </div>


    <!-- The expanding image container -->
    <div class="container">
      <!-- Close the image -->
      <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

      <!-- Expanded image -->
      <img id="expandedImg" style="width:100%" >

      <!-- Image text -->
      <div id="imgtext"></div>
    </div>
</body>




<script src="/static/js/index.js"></script>
