<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/post">
      <label>
        Title of Post:
        <input type="text" name="post_title" value="" placeholder="Write the name of your post here"><br><br>
      </label>
    <form method="post" action="/post">
      <label>
        Content:
        <input type="text" name="post_content" value="" placeholder="Start typing"><br><br>
      </label>
    <form method="post" action="/post">
      <label>
        Author:
        <input type="text" name="author_name" value="" placeholder="Write your name"><br><br>
      </label>
      <button type="submit">Submit</button>
  </body>
</html>
